<a href="https://colab.research.google.com/github/hena1019/GTU-FINAL-YEAR-COMPUTER-SCIENCE-PYTHON-PRACTICALS/blob/main/PRAC4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Python3 code to demonstrate 
# conversion of lists to dictionary 
# using naive method 

# initializing lists 
test_keys = ["Hena", "Sonal", "Fazila"] 
test_values = [1, 4, 5] 

# Printing original keys-value lists 
print ("Original key list is : " + str(test_keys)) 
print ("Original value list is : " + str(test_values)) 

# using naive method 
# to convert lists to dictionary 
res = {} 
for key in test_keys: 
	for value in test_values: 
		res[key] = value 
		test_values.remove(value) 
		break

# Printing resultant dictionary 
print ("Resultant dictionary is : " + str(res))

Original key list is : ['Hena', 'Sonal', 'Fazila']
Original value list is : [1, 4, 5]
Resultant dictionary is : {'Hena': 1, 'Sonal': 4, 'Fazila': 5}

In [2]:
# Python code to demonstrate 
# how to invert mapping 
# using zip and dict functions 

# initialising dictionary 
ini_dict = {101: "Urmila", 201 : "Urvashi"} 

# print initial dictionary 
print("initial dictionary : ", str(ini_dict)) 

# inverse mapping using zip and dict functions 
inv_dict = dict(zip(ini_dict.values(), ini_dict.keys())) 

# print final dictionary 
print("inverse mapped dictionary : ", str(inv_dict))

initial dictionary :  {101: 'Urmila', 201: 'Urvashi'}
inverse mapped dictionary :  {'Urmila': 101, 'Urvashi': 201}

In [ ]:
# Python3 code to demonstrate 
# each occurrence frequency using 
# naive method 

# initializing string 
test_str = "abcdabefgceb"

# using naive method to get count 
# of each element in string 
all_freq = {} 

for i in test_str: 
	if i in all_freq: 
		all_freq[i] += 1
	else: 
		all_freq[i] = 1

# printing result 
print ("Count of all characters in abcdabefgceb is :\n "
										+ str(all_freq))

Count of all characters in abcdabefgceb is :
 {'a': 2, 'b': 3, 'c': 2, 'd': 1, 'e': 2, 'f': 1, 'g': 1}

In [ ]:
n = int(input("Enter number of students: ")) 
 
result = {} 
 
for i in range(n): 
    print("Enter Details of student No.", i+1) 
 
    rno = int(input("Roll No: ")) 
    name = input("Name: ") 
    marks = int(input("Marks: ")) 
 
    result[rno] = [name, marks] 
 
print(result) 
 
# Display names of students who have got marks more than 75 
 
for student in result: 
    if result[student][1] > 75: 
        print(result[student][0])

Enter number of students: 2
Enter Details of student No. 1
Roll No: 170630107009
Name: hena chauhan
Marks: 99
Enter Details of student No. 2
Roll No: 170630107002
Name: sonal agrawal
Marks: 98
{170630107009: ['hena chauhan', 99], 170630107002: ['sonal agrawal', 98]}
hena chauhan
sonal agrawal

-----Program for Student Information-----
How many student record you want to store?? 5
Enter the complete name (First and last name) of student: Hena Chauhan
Enter Age: 21
Enter CPI: 9.4
Enter the complete name (First and last name) of student: Urvashi Goklani
Enter Age: 21
Enter CPI: 9.35
Enter the complete name (First and last name) of student: Sonal Agrawal
Enter Age: 22
Enter CPI: 9.3
Enter the complete name (First and last name) of student: Fazila Pathan
Enter Age: 21
Enter CPI: 9.35
Enter the complete name (First and last name) of student: Urmila Goklani
Enter Age: 21
Enter CPI: 9.3
Enter the operation detail:
 1: Sorting using first name
 2: Finding maximum marks
 3: Search details using first name:
 4: Exit
 Option: 1
Fazila Pathan
Hena Chauhan
Sonal Agrawal
Urmila Goklani
Urvashi Goklani
Want to perform some other operation??? Y or N:
Y
Enter the operation detail:
 1: Sorting using first name
 2: Finding maximum marks
 3: Search details using first name:
 4: Exit
 Option: 2
Highest CPI:  9.4
Want to perform some other operation??? Y or N:
Y
Enter the operation detail:
 1: Sorting using first name
 2: Finding maximum marks
 3: Search details using first name:
 4: Exit
 Option: 3
Enter first name of student: Hena
21
Want to perform some other operation??? Y or N:
N